# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage

# next.js
.next/
out/
build
.swc/

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# turbo
.turbo

# ui
dist/
apps/react/amplify/cli.json
apps/react/amplify/README.md
apps/react/amplify/team-provider-info.json
apps/react/amplify/.config/project-config.json
apps/react/amplify/backend/backend-config.json
apps/react/amplify/backend/tags.json
apps/react/amplify/backend/auth/reacta7454fe6/cli-inputs.json
apps/react/amplify/backend/types/amplify-dependent-resources-ref.d.ts
apps/react/amplify/hooks/README.md
apps/react/amplify/backend/storage/s3apkinfo/cli-inputs.json
