.bgdiv {
  width: 40px;
  height: 40px;
  background: var(--shady-purple);
  border-radius: 4px;
  font-family: "Inter", Helvetica;

  /* margin-right: 36rem; */
}
.bgdiv:hover {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.048)
}
.dicon {
  width: 30px;
    height: 38px;
}

.options {
  margin-top: 8px;

  display: flex;
  justify-content: space-between;
  align-items: center;
font-size: 14px;
}
